@font-face {
  font-family: "BlenderProMedium";
  src: local("BlenderProMedium"),
    url(./assets/fonts/BlenderProMedium.woff) format("woff");
}

@font-face {
  font-family: "Oxanium-Light";
  src: local("Oxanium-Light"),
    url(./assets/fonts/Oxanium-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Oxanium-ExtraLight";
  src: local("Oxanium-ExtraLight"),
    url(./assets/fonts/Oxanium-ExtraLight.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Oxanium-Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "BlenderProMedium.woff";
}
